.card {
    position: relative;
    flex-direction: column;
    padding: 16px 15px; 
    background: getColor("white.base");
    border: 1px solid getColor("white.light");
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    @include e(containts){
        display:flex;
        margin:5px;
        padding: 3px 0px;
        color: getColor('blue.light');
        font-style: normal;
        font-weight: normal;
        font-size: getFontSize('small');
       
        @include e(image) {
            width: 14px;
            height:14px;
            margin-right: 5px;
            }
        
        @include e(links) {
            text-decoration-line: underline;
            color: getColor('blue.light');
            
        }
       
    }

    @include e(heading) {
        margin: 10px 0px;
        padding:10px 0px;
        gap:23px;
        font-weight: medium;
        font-size: getFontSize('body3');
        color: getColor('black.base');
        display:flex;
        flex-direction: row;
        @include e(title){
            width: 231px;
            top: 0px;
            font-weight: medium;
            font-size: getFontSize('body3');
            color: getColor('black.base');
        }
        @include e (date){
                font-style: normal;
                font-weight: normal;
                font-size: getFontSize("small");
                white-space: nowrap;
                color: getColor('blue.light2');
                mix-blend-mode: normal;
                opacity: 0.6;
        }
    }
    @include e(description) {
        font-style: normal;
        font-weight: normal;
        font-size: getFontSize('caption');
        margin: 5px 0px;
        color: getColor("blue.light");
    }
}