.left-container{
    display: flex;
    flex-direction: column;
    padding:20px;
    // gap:50px;
    // width:260px;
    height: 100%;
    position: sticky;
   
    
}
.profile{
    display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        gap:21px;
    @include e(image){
        width: 64px;
        border-radius: 100px;
     }   
    @include e(name) {
            font-style: normal;
            font-weight: 800;
            font-size: 22px;
            line-height: 30px;
            color: getColour('black.base');
    }

}

.side-bar{
    display: flex;
    // width:200px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        // padding: 0px 0px 30px;
        gap: 50px;
        
}
.line{
    border: 1px solid #000000;
    margin-top: 200px;
    width: 100%;
    opacity: 0.1;
}
.menu{
    display: flex;
    flex-direction: row;
    // margin-right: 30px;
    width: 185px;
    height:44px;
    border-radius: 9px;
    align-items: center;
        padding: 10px 0px 10px 10px;
        gap: 12px;
    // gap:14px;
    
    @include e(icon){
        width:24px;
    }
    @include e(name){
    font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: black;
    }
    @include m(active){
        
        background: #F7F7F7
    }
   
    &:hover{
cursor: pointer;
    background: #F7F7F7;
    }
    & a{
        color: black;
    }
}

.vertical-line{
opacity: 0.1;
    border-right: 1px solid #000000;
    // transform: rotate(90deg);
}