.main-container{
 display:flex;
//  width:1000px;
//  overflow: auto;
 flex-direction: column;
 background: getColour('white.base');  
 gap:10px;
 
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
}

.title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    @include m(m){
        font-size: 18px;
            line-height: 25px;
    }
}