.right-container{
    display: flex;
    flex-direction: column;
    
    
    padding: 0px 10px;

    background:radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(252, 244, 248, 1) 100%);;
}

.button{
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        align-items: center;
        padding: 15px 18px;
        width: 240px;
        height: 49px;
        background: #249A70;
        border: transparent;
        border-radius: 9px ;
        &:hover{
            cursor: pointer;
            background:orange;
        }
}

.text-small{
 
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px; 
        color: #000000;

}

.dot{
    width: 11px;
        height: 11px;
        margin-right: 6px;
        border-radius: 30px;
        flex: none;
        @include m(yellow){
            background: #FFCA28;
        }
        @include m(orange){
            background: #EC6F48;
        }
        @include m(purple){
            background: #836CDA;
        }
}