.sidebar{
        display: flex;
        flex-direction: column;
        padding: 16px 10px;
        gap: 10px;
        position: relative;
        top:80px;
        background: #F8F8F9;
        border: 1px solid #E4E4E4;
        border-radius: 0px 0px 6px 6px;
}